<main class="login-page d-flex align-items-center justify-content-center vh-100">
  <div class="card p-4 shadow-sm mx-auto" style="min-width: 350px; max-width: 400px; width: 100%; ">
    <div class="text-center mb-4">
      <img src="assets/img/logo.png" style="width: 140px;" alt="logo">
    </div>
    <h5 class="text-center mb-2">Connexion à votre compte</h5>
    <p class="text-center small text-muted mb-4">Entrez votre adresse e-mail et votre mot de passe</p>

    <form (ngSubmit)="login()" #loginForm="ngForm">
      <div class="mb-3">
        <label for="email" class="form-label">Adresse e-mail</label>
        <div class="input-group">
          <span class="input-group-text">&#64;</span>
          <input type="email" [(ngModel)]="email" name="email" id="email" class="form-control" required />
        </div>
      </div>

      <div class="mb-3">
        <label for="password" class="form-label">Mot de passe</label>
        <input type="password" [(ngModel)]="password" name="password" id="password" class="form-control" required />
      </div>

      <div *ngIf="error" class="alert alert-danger py-1 text-center">
        {{ error }}
      </div>

      <button class="btn btn-primary w-100" type="submit">Se connecter</button>
    </form>
  </div>
</main>
