.sidebar {
  padding: 20px;
}

.sidebar h3 {
  margin-bottom: 30px;
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar li {
  margin-bottom: 10px;
}

.sidebar a {
  text-decoration: none;
  color: #333;
  font-weight: 500;
}
.sidebar .nav-content a.active {
  background-color: #e0e7ff;
  color: #4154f1;
  font-weight: bold;
}

.sidebar .nav-content a.active i {
  color: #4154f1;
}

